body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
section {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("../images/pinklake.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 100px 20px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5em;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5em;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5em;
  letter-spacing: 5px;
}

header a {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}

@media (max-width: 768px) {
  header {
    padding: 60px 10px;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 24px;
  }
}

footer {
  text-align: center;
  color: white;
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../images/footerimg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

footer h3 {
  font-weight: 700;
  opacity: 0.8;
  font-size: 24px;
  line-height: 1.5em;
}

footer p {
  font-weight: 400;
  opacity: 0.8;
  font-size: 16px;
  line-height: 1.5em;
}
footer ul {
  padding: 0;
  margin: 0;
}

footer li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  font-weight: 600;
}
